{
  "filePath": "${workspaceFolder}/secret.txt",
  "enableEncryption": false,
  "enableClickDialog": true,
  "icon": "$(circle-outline)",
  "maxDisplayLength": 50,
  "pageSize": 50,
  "enableCache": true,
  "files": [
    "${workspaceFolder}/secret.txt",
    "${workspaceFolder}/another-secret.txt"
  ]
}

